* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0f172a;
  color: #e5e7eb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #020617;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

h1 {
  margin-bottom: 12px;
}

p {
  color: #94a3b8;
}
